03.\ Computer\ Vision\ &\ CNN/ClassNotes/pizza_steak/
Icon*
04.\ Transfer\ Learning/Part1/10_food_classes_10_percent/*
04.\ Transfer\ Learning/Part2/10_food_classes_10_percent/*
04.\ Transfer\ Learning/Part1/10_food_classes_10_percent.zip
04.\ Transfer\ Learning/Part2/10_food_classes_10_percent.zip
04.\ Transfer\ Learning/Part1/__MACOSX/*
04.\ Transfer\ Learning/Part2/__MACOSX/*
04.\ Transfer\ Learning/Part2/10_food_classes_1_percent/*
04.\ Transfer\ Learning/Part2/10_food_classes_1_percent.zip
04.\ Transfer\ Learning/Part2/10_food_classes_all_data/*
04.\ Transfer\ Learning/Part2/10_food_classes_all_data.zip
04.\ Transfer\ Learning/Part3/101_food_classes_10_percent/*
04.\ Transfer\ Learning/Part3/101_food_classes_10_percent.zip
